<br>



		
	<div>

	
		
			<form>
			
				<div class="form-group">
					<label class="col-sm-2" for="usr">Name:</label>
					<div class="col-xs-4">
			<input type="text" id="uname"
							ng-model="username" placeholder="Enter username" required>
						
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>

				<div class="form-group">
					<label class="col-sm-2" for="pwd">Password:</label>
					<div class="col-xs-4">

						<input type="password"  id="password"
							ng-model="password" placeholder="*********" required> <br>
					</div>
				</div>

				<div class="control-label">
					<label class="col-sm-12"></label>
					<div class="col-xs-4">
						<button type="submit" class="btn btn-success"
							data-ng-click="login()" ng-disabled="myForm.$invalid">Login</button>
					</div>
				</div>
			</form>
			




	</div>






